.container{
    position: relative;
    font-size: 1.2rem;
}
.selectBtn{
    width: 200px;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    border-radius: 16px;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.selectBtn .btnText{
    font-size: 17px;
    font-weight: 400;
    color: #767676;
    font-weight: 600;
    font-size: 1.2rem;
}
.selectBtn .arrowDwn{
    display: flex;
    height: 22px;
    width: 22px;
    color: #fff;
    font-size: 14px;
    border-radius: 50%;
    background: #3d8584;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}
.selectBbtn.open .arrowDwn{
    transform: rotate(-180deg);
}
.listItems{
    display: none;
}

.listItemsOpen {
    position: absolute;
    margin-top: 15px;
    border-radius: 8px;
    padding: 16px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    display: block;
    width: 200px;
}

.listItemsOpen .item{
    display: flex;
    align-items: center;
    list-style: none;
    height: 50px;
    cursor: pointer;
    transition: 0.3s;
    padding: 0 15px;
    border-radius: 8px;
}
.listItemsOpen .item:hover{
    background-color: #beefef;
}
.item .itemText{
    color: #767676;
    font-weight: 600;
    font-size: 1.2rem;
}
.item .checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    width: 16px;
    border-radius: 4px;
    margin-right: 12px;
    border: 1.5px solid #c0c0c0;
    transition: all 0.3s ease-in-out;
}
.item.checked .checkbox{
    background-color: #3d8584;
    border-color: #3d8584;
}
.checkbox .checkIcon{
    color: #fff;
    font-size: 11px;
    transform: scale(0);
    transition: all 0.2s ease-in-out;
}
.item.checked .checkIcon{
    transform: scale(1);
}
